<div class="D(f) Fxd(c)">
    <div class="D(f)">
        Items in list:
        <a
            *ngFor="let thisCount of availableCounts"
            class="Td(u) Bdc(black) Bdw(1px) Bds(s) P(3px)"
            [ngClass]="{ 'Fw(b) C(white) Bgc(darkblue)': count === thisCount }"
            (click)="setItems(thisCount)"
            >{{ thisCount }}</a
        >
    </div>
    <margin [(value)]="margin"></margin>
</div>

<div>
    <p>
        Because the demo1-item component is separate from the demo1 component,
        the visibility root is the full window. You can see how the number of
        invisible rows (the ones in red) are different on the top versus the
        bottom.
    </p>
    <p>
        One can not use ngxVisibilityAnchor to anchor the window unless it is in
        the same host component as ngxVisibility.
    </p>
    <p>
        The red rows show what is "not visible" due to the negative margin.
    </p>
</div>

<div class="Fxg(1) Fxs(1) Ov(a)" ngxVisibilityAnchor>
    <div *ngFor="let item of items">
        <demo1-item [item]="item" [margin]="margin"></demo1-item>
    </div>
</div>
